body{
  background: #282c34;
  color: white;
}

.line{
  width: 100%;
}

.jumbotron{
  border: 1px solid rgba(0.1, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: 5px 5px 10px;
  padding: 7px;
}

.single-article-img{
  width: 100%;
  height: 355px;
  /* object-fit: contain; */
}

.pub-auth p{
  display: inline;
  padding-right: 10px;
}

.card-single-article{
  box-shadow: 5px 5px 10px;
}

.category{
  text-transform: capitalize;
}

.single h2 h6 p{
  color: white !important;
}


























/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
  /* display: block; */
  align-items: center;
  vertical-align: middle;

}



@keyframes ldio-9e0bp26ffmv {
  0% { transform: translate(12px,80px) scale(0); }
 25% { transform: translate(12px,80px) scale(0); }
 50% { transform: translate(12px,80px) scale(1); }
 75% { transform: translate(80px,80px) scale(1); }
100% { transform: translate(148px,80px) scale(1); }
}
@keyframes ldio-9e0bp26ffmv-r {
  0% { transform: translate(148px,80px) scale(1); }
100% { transform: translate(148px,80px) scale(0); }
}
@keyframes ldio-9e0bp26ffmv-c {
  0% { background: #e15b64 }
 25% { background: #17d548 }
 50% { background: #fbf7f3 }
 75% { background: #6082f4 }
100% { background: #e15b64 }
}
.ldio-9e0bp26ffmv div {
 position: absolute;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 transform: translate(80px,80px) scale(1);
 background: #e15b64;
 animation: ldio-9e0bp26ffmv 2.6315789473684212s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-9e0bp26ffmv div:nth-child(1) {
 background: #6082f4;
 transform: translate(148px,80px) scale(1);
 animation: ldio-9e0bp26ffmv-r 0.6578947368421053s infinite cubic-bezier(0,0.5,0.5,1), ldio-9e0bp26ffmv-c 2.6315789473684212s infinite step-start;
}.ldio-9e0bp26ffmv div:nth-child(2) {
 animation-delay: -0.6578947368421053s;
 background: #e15b64;
}.ldio-9e0bp26ffmv div:nth-child(3) {
 animation-delay: -1.3157894736842106s;
 background: #6082f4;
}.ldio-9e0bp26ffmv div:nth-child(4) {
 animation-delay: -1.9736842105263157s;
 background: #fbf7f3;
}.ldio-9e0bp26ffmv div:nth-child(5) {
 animation-delay: -2.6315789473684212s;
 background: #17d548;
}
.loadingio-spinner-ellipsis-bi8kj48v23f {
 width: 200px;
 height: 200px;
 display: inline-block;
 overflow: hidden;
 background: none;
}
.ldio-9e0bp26ffmv {
 width: 100%;
 height: 100%;
 position: relative;
 transform: translateZ(0) scale(1);
 backface-visibility: hidden;
 transform-origin: 0 0; /* see note above */
}
.ldio-9e0bp26ffmv div { box-sizing: content-box; }
/* generated by https://loading.io/ */

.bg-image{
  background-image: url('https://www.impactplus.com/hubfs/404-error-page-examples-best.jpg');
  height: 100vh;
}

.error{
  border: 3px solid black;
  color: white;
  background-color: #282c342d;
  font-weight: bold;
  padding: 10px;
}

.error:hover{
  background: white;
  color: black;
}

.card-body{
  background-color: black;
  color: white;
}